<!--
	Generated template for the HomePage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		<ion-title>
			Home
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only>
				<img src="assets/img/logo_live_add.png" class="icon-in-button">
			</button>
		</ion-buttons>
		
	</ion-navbar>
</ion-header>


<ion-content padding class="backgroundAmsnImg bluewhitebluebg">

	<ion-grid id="homeMeContainer" padding>
		<ion-row>
			<ion-col col-3>
				<div class="avatarFrameonline">
					<img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
				</div>
			</ion-col>
			<ion-col col-9 padding>
				<h3>Nick</h3>
				<span>Subnick</span><br>
				<small>juanpchica@hotmail.com</small>
			</ion-col>
		</ion-row>
	</ion-grid>

    <div class="searchBoxContainer">
		<ion-searchbar (ionInput)="getUsers($event)" id="searchField" placeholder="Busca entre tus contactos"></ion-searchbar>
	</div>

	<div>
		<div padding-vertical>
			<ion-icon name="arrow-down"></ion-icon>
			<b>Amigos ({{users.length}}/{{users.length}})</b>
		</div>
		<div>
			<div class="contact-list-item" [ngClass]="{'contact-offline': user.status == 'Desconectado' ||  user.status == 'NoMolestar'}" *ngFor="let user of users" (click)="goToConversation(user.id)">
				<img src="assets/img/logo_live_online.png" class="status">
				<b>{{user.nick}}</b>
				<small *ngIf="user.status">{{user.status}}</small>
			</div>
		</div>
	</div>

</ion-content>
